@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="container py-5">
    <div class="row align-items-center gy-4">
        <!-- Tekst til venstre -->
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="display-5 mb-3" style="font-family:'Playfair Display', Georgia, serif;">
                LaundryBook
            </h1>
            <p class="lead text-muted mb-4">
                🧺 Velkommen til fællesvaskeriet <strong>Her kan du nemt booke tid til vask, tørring og rulning.</strong>,
                Vaskeriet er for alle beboere i foreningen og kan benyttes hele ugen inden for åbningstiden.
            </p>
            <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start">
                <a asp-page="/Maskiner" class="btn btn-gold px-4">Maskiner</a>
                <a asp-page="/Privacy" class="btn btn-outline-light px-4">Om os</a>
            </div>
        </div>
      

        
  
        <!-- Billede til højre -->
        <div class="col-lg-6 text-center">
            <img src="~/img/forside.png"
                 alt="Premium Bathwater Hero"
                 class="img-fluid rounded shadow"
                 loading="lazy" />
        </div>
    </div>
</section>

<hr class="hr-gold" />

<section class="container py-5">
    <div class="text-center mb-5">
        <h2 style="font-family:'Playfair Display', Georgia, serif;">Vores maskiner</h2>
        <p class="text-muted">Kun det bedste at tilbyde. Nemt og sikkert.</p>
    </div>

    <div class="row g-4 text-center">
        <div class="col-md-4">
            <h5 class="price-gold">Maskiner</h5>
            <p> Vaskemaskine: Til almindelig tøjvask. Vælg mellem flere programmer afhængig af behov.<p></p>
            <p>Tørretumbler: Til hurtig og effektiv tørring efter vask.</p>

            <p>Rullemaskine: Til sengetøj, duge og større tekstiler – giver et flot og glat resultat.</p>
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="price-gold">Sådan Booker du!</h5>
            <p>Vælg den ønskede dato og tidsrum.</p>
            <p>Vælg maskine (vask, tørring eller rulning).</p>
            <p>Bekræft din booking – så er tiden din!</p>
        </div>
        <div class="col-md-4">
            <h5 class="price-gold">Husk</h5>
            <p>Du kan kun booke én maskine pr. tidsrum.</p>
            <p>Husk at afmelde din tid, hvis du ikke bruger den, så andre beboere kan få glæde af den.</p>
            <p>
                Sørg for at rydde op og efterlade vaskeriet rent efter brug.

                Tak fordi du viser hensyn – så fungerer vaskeriet bedst for alle 🌿
            </p>
        </div>
    </div>
</section>

